<section class="our-achievement">
            <div class="achievement-container">
                <div class="achievement-row">
                {{#achievement_row}}
                    <div class="achievement-column">
                        <div class="single-achievement">
                            <h3 class="counter">
                                <span id="secondo1" class="countup" data-end="1250">1250 </span>+
                            </h3>
                            <p>мест</p>
                        </div>
                    </div>
                    {{/achievement_row}}
                </div>
            </div>      
          </section> 