<nav>
    <ul>
        <li><a href="index.html" class="menu-element" title="На главную">Главная</a></li>
        <li><a href="#services" class="menu-element" data-link="services" title="Общая информация">Общее</a></li>
        {{#array}}
        <li><a href="{{href}}" class="menu-element" title="{{title}}">{{text}}</a></li>
        {{/array}}
    </ul>
</nav>
    <div class="brand">
        <img src="img/fort-icon.png" alt="Логотип сайта">
        <span>AWESOME</span>
    </div>
    <div class="social">
        {{#array2}}
        <a href="#" target="_blank" title="{{network}}">
            <img src="{{image}}" alt="{{network}}" class="social-img">
        </a>
        {{/array2}}
    </div>
    <div class="copyright">© Very First Page 2022</div>