<nav>
            <ul>
            {{#li}}
                <li><a href="{{href}}" class="menu-element" title="{{title}}">{{text}}</a></li>
            {{/li}}
            </ul>
        </nav>
        <div class="brand">
            <img src="img/fort-icon.png" alt="Логотип сайта">
            <span>AWESOME</span>
        </div>
        <div class="social">
        {{#social}}
            <a href="#" target="_blank" title="{{alt}}">
                <img src="{{img}}" alt="{{alt}}" class="social-img">
            </a>
            {{/social}}
        </div>
        <div class="copyright">© Very First Page 2022</div> -->