<nav id="myTopnav">
            <img src="img/fort-icon.png" alt="Логотип сайта">
            <ul>
            {{#li}}
              <a href="{{href}}" class="menu-element" title="{{title}}"><li>{{text}}</li></a>
            {{/li}}
            </ul>
            <div id="hamburger" class="icon ">&#9776;</div>
</nav>


