<nav id="myTopnav">
    <img src="img/fort-icon.png" alt="Логотип сайта">
    <ul class="menu">
        <li><a href="index.html" class="menu-element" title="На главную">Главная</a></li>
        <li><a href="#services" class="menu-element" data-link="services" title="Общая информация">Общее</a></li>
        {{#array}}
        <li><a href="{{href}}" class="menu-element" title="{{title}}">{{text}}</a></li>
        {{/array}}
    </ul>
    <div id="hamburger" class="icon">&#9776;</div>
</nav>